/*белый цвет #FFFFFF*/
/*основные заголовки: черный цвет #212121*/
/*основной серый #757575*/
/*вторичный цвет фона #F5F4FA*/
/*синий цвет #2196F3*/
/*фон футера #2F303A*/


:root {
  --primer-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}



*, *::before, *::after {
  box-sizing:border-box;
} 
/*container*/

.container{
  width: 1200px;
  outline: 2px solid tomato;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-bottom: 0;
  padding-top: 0;
  


}
.contact{
     margin-left: auto;
}
.main-nav{
  display: flex;
  align-items: center;
  padding-bottom: 0;
}

.list{
  display: flex;
}
.list .item:not(:last-child) {
  margin-right: 50px;
}
 
.navigation{
  margin-left: 93px;
}


body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.priority-logo{
  display: flex;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}
.half-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}
.contact{
  display: flex;
 
}
.contact .item:not(:last-child){
  margin-right: 50px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}


.nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  display: flex
}
.link:focus,
.link:hover {
  color: var(--accent-color);
}
.link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  display: flex;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  
}

.images{
  gap: 30px;
  padding: 0;
}


.person{
  display: flex;
  gap: 30px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;
}
.nav-button{
  display: flex;
  margin: 0;
  justify-content: center;
  gap: 8px;
  padding-top: 94px;
  padding-bottom: 34px;
}

.feature-list{
  display:flex;
  flex-wrap:wrap;
  padding-left: 0;
  padding-right: 0;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 81px;
  padding-bottom: 107px;
  
}
.images{
  margin: 0;
}
.feature-list .item{
  width: 270px;
  gap: 30px;
  /*margin-right: 30px;*/
   /*margin-left: auto;
  margin-right: auto;*/
}
.feature-list .item:nth-child(4n){
  margin-right: 0;
  
}
.images{
  display: flex;
  padding-bottom: 94px;
}
  
.hero{
  margin-top: 0;
}



.hero-title {
  color: var(--white-color);
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
  
 /* margin-left: auto;
  margin-right: auto;*/

}

.priority-button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
}

.second-button {
  color: var(--title-text-color);
  background-color:#F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}
.second-button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.feature-text {
  color: var(--primer-color);
  font-size: 14px;
  line-height: 1.71;
}


.section-header {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
 margin-top: 0;
 margin-bottom: 0;
 padding-bottom: 50px;
 
}
.section-list {
  background-color: #f5f4fa;
}
.thirs-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}
.accent {
  color: var(--accent-color);
}
.description {
  color: var(--primer-color);

  font-size: 16px;
  line-height: 100%;
}
.project{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0
  ;
  margin: 0;
  gap: 30px;
  padding-bottom: 94px;
}

.project .categories {
  color: var(--primer-color);
  font-size: 16px;
  line-height: 1.88;
}
.project .item{
  gap: 30px;
}

.project .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.thirs-logo {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}
.footer .home-adress {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
}
.last-nav {
  color: #ffffff99;
  font-size: 14px;
  line-height: 1.71;
}
.last-nav:focus,
.last-nav:hover {
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
