/*белый цвет #FFFFFF*/
/*основные заголовки: черный цвет #212121*/
/*основной серый #757575*/
/*вторичный цвет фона #F5F4FA*/
/*синий цвет #2196F3*/
/*фон футера #2F303A*/

:root {
  --primer-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}
.half-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link {
  color: var(--accent-color);
}

.nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}
.link:focus,
.link:hover {
  color: var(--accent-color);
}
.link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--white-color);
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.priority-button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  cursor: pointer;
}

.second-button {
  color: var(--title-text-color);
  background-color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
}
.second-button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.feature-text {
  color: var(--primer-color);
  font-size: 14px;
  line-height: 1.71;
}

.section-header {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
}
.section-list {
  background-color: #f5f4fa;
}
.thirs-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}
.accent {
  color: var(--accent-color);
}
.description {
  color: var(--primer-color);

  font-size: 16px;
  line-height: 100%;
}

.project .categories {
  color: var(--primer-color);
  font-size: 16px;
  line-height: 1.88;
}

.project .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.thirs-logo {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}
.footer .home-adress {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
}
.last-nav {
  color: #ffffff99;
  font-size: 14px;
  line-height: 1.71;
}
.last-nav:focus,
.last-nav:hover {
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
}
